*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
  /* background-color: blue; */
  /* height: 100%; */
}
body {
  background: #1C2226;
  /* height: 100vh; */
  box-sizing: border-box;
}
/* main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
} */
.navBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  marigin: 0px;
  padding: 10px;
  /* Header background */
  background: linear-gradient(90deg, 	#40484A 5%, #C0C0C0	 100%);
  opacity: 0.9;
}
h3 {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter'; 
  font-weight: 300;
  color: #FFFF;
}
.main {
  /* position: relative; */
  /* box-sizing: border-box; */
  /* background-color: green; */
  /* background-image: url('./Images/img3.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-size: cover; */
  height: 100vh;
  width: 100%;
  /* height: auto; */
  display: flex; 
  align-item:center;
  flex-direction: column;
  margin: auto;
  padding: 45px;
  
}
.prompt {
  /* display: flex; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  height: 400px;
  /* background-color: white; */
  width:400px;
  /* border: 1px solid black; */
  /* opacity: 0.3; */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(5px);
  text-align: center;
  /* justify-content: center;
  vertical-align: middle; */
  /* padding: 50%; */
}
.prompt p{
  /* top: 50%; */
  /* left: 50%; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 116px;
  text-align: center;
  color: #FFFFFF;
}
.response {
  margin: auto;
  height: 150px;
  background: rgb(4,15,34);
  background: linear-gradient(30deg, rgba(4,15,34,0.9573880577621674) 18%, rgba(64,72,74,1) 54%, rgba(192,192,192,1) 100%);
  width:150px;
  border-radius: 50%;
  /* opacity: 0.9; */
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 30px gray;
  transition: width 0.1s, height 0.3s;
}

.checkmark {
  display: flex;
  /* position: relative; */
  margin: auto;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  transition: width 0.1s, height 0.3s;
}
.response:active, .checkmark:active {
  width:148px;
  height: 148px;
}
/* .checkmark_circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: green;
  border-radius: 11px;
  left: 0;
  top: 0;
} */

.checkmark_stem {
  position: absolute;
  width: 25px;
  height: 70px;
  background-color: #fff;
  left: 35px;
  top: 0px;
}

.checkmark_kick {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  left: 12px;
  top: 45px;
}
.Triangle {
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
    
  border-bottom: 150px solid #D9D9D9;

  margin: 2rem;
}
.Rectangle {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 125px;
  top: 125px;

  background: #D9D9D9;
}
.Circle {
  background: #D9D9D9;
  width:150px;
  height:150px;
  border-radius: 50%;
}
.Diamond {
  width: 150px;
  height: 150px;
  background: #D9D9D9;
  transform: rotate(-45deg);
}
.end-trail {
  color: white;
  font-family: Inter;
  margin: auto;
  margin-top: 25%;
}
.app{
  display: flex;
  flex-direction: column;
}
.play-btn {
  margin: auto;
  margin-top: 40px;
  height: 400px;
  /* background-color: white; */
  width:400px;
}